.header {
  height: 50px;
  width: 100%;
  background-color: steelblue;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
}

ul {
  margin-top: 3px;
  display: flex;
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

ul li {
  margin-left: 10px;
  padding-top: 7px;
  width: 150px;
  height: 40px;
  text-align: center;
  transition: 0.5s;
  background-color: #33638b;
}

  ul li.active {
    box-shadow: 0px 0px 5px 1px white inset;
    background-color: #2a71ad;
  }

  ul li:hover {
    box-shadow: 0px 0px 5px 1px white inset;
    background-color: #33638b;
  }
